.new-accent {
    background-color: var(--accent, #00B0FF) !important;
}

.new-accent-light {
    background-color: var(--accent_light) !important;
}

.new-primary {
    background-color: var(--primary, #00695C) !important;
}

.new-secondary {
    background-color: var(--secondary, #26A69A) !important;
}
.card .card-action{
    width: 100% !important;

}
