.charsleft.charsleft-input {
    height: 23px;
    position: relative;
}

.charsleft > span {
    vertical-align: middle;
    margin-left: 0.5em;
    color: #ccc;
    line-height: 23px;
}

.charsleft-input.charsleft-charfield input {
    min-width: 360px;
}

.charsleft .charsleft-feedback {
    position: absolute;
    right: 0;
    top: 27px;
    color: #999;
    font-size: 11px;
}

.charsleft .maxlength {
    display: none;
}

.charsleft .charsleft-feedback .count {
    color: #1f9f13;
}

.charsleft .charsleft-feedback .charsleft-limit {
    color: #d59100 !important;
}
